<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shwethasp.myshotput">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

            <!-- android:launchMode="singleTask"> notification click -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SetupActivity"
            android:screenOrientation="portrait" />

        <!--  <receiver
              android:name=".activity.BroadcastManager"
              android:process=":remote">

              &lt;!&ndash; android:enabled="true" &ndash;&gt;
              <intent-filter>

                  &lt;!&ndash;
                  <action android:name="android.intent.action.VIEW"/>
                  <category android:name="android.intent.category.LAUNCHER" />
                  &ndash;&gt;


                  &lt;!&ndash; <action android:name="com.tutorialspoint.CUSTOM_INTENT"/> &ndash;&gt;
                  <action android:name="android.intent.action.BOOT_COMPLETED" />
                  <action android:name="android.intent.action.USER_PRESENT" />
                  <action android:name="MyBroadcast" />
                  &lt;!&ndash;
                           <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                       <category android:name="android.intent.category.DEFAULT" />
                  &ndash;&gt;
              </intent-filter>
          </receiver>
  -->
        <activity android:name=".activity.NotificationView">

            <!--
            android:label="Details of notification"
            android:parentActivityName=".activity.SetupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SetupActivity"
            -->
        </activity>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>